%h1= Marley::Configuration.blog.title

#posts
  - @posts.each do |post|
    .post
      %span.perex
        %span.date 
          #{human_date post.published_on}
          %a{:href => "/#{post.id}.html"}= post.title
        %br

        #{post.perex} (#{post.comments.size} comments)
