%h1= Marley::Configuration.blog.title

.posts
  - @posts.each do |post|
    .post
      %small #{human_date post.published_on} &mdash;
      %strong 
        %a{:href => "/#{post.id}.html"}
          = post.title
      %span.perex
        #{post.perex} (#{post.comments.size} comments)
